:root{
  --dark: #333131;
  --light: #eee;
}

body {
  background: var(--dark);
  color: var(--light);
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 1.4em;
}

h1, .data-section {
  padding: 10px;
  background: var(--light);
  color: #000;
  font-family: 'Patua One', cursive;
  font-size: 1.2em;
}

.countries-container, .container {
  margin: 40px;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
}

.countries-container {
  display: flex;
}

.country {
  border: 1px solid var(--light);
  padding: 5px 15px;
  margin: 10px;
  box-shadow: 0 0 20px var(--light);
  width: 25vw;
  cursor: pointer;
}

@media screen and (max-width: 420px){
  .countries-container {
    flex-direction: column;
  }

  .country{
    margin: 3% auto;
  }
}